# EditorConfig is awesome: https://EditorConfig.org
root = true

[*]
charset = utf-8
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{yml,yaml}]
indent_style = space

[*.{js,ts}]
block_comment_start = /*
block_comment = *
block_comment_end = */

[*.{markdown,md}]
trim_trailing_whitespace = false

